* {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.separator {
    height: 1px; 
    background-color: white; 
    border-radius: 10px; 
    margin: 20px 0; 
    width: 50%;
}  

/* navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.50 );
    z-index: 10;
    top: 0;
    transition: .5s;
}

.navbar a {
    color: white;
    transition: 0.5s;
}

.navbar a:hover {
    color: white;
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.50 );
    }
}

/* SVG Background */
.svg-background {
    background-color: #3E2723;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    z-index: -1; 
}

/* SVG Background Colours */
.about-background {
    background-color: #E96A6A;
}

.timetable-background {
    background-color: #2A0A6D;
}

.contact-background {
    background-color: #2D2D2D;
}

.tickets-background {
    background-color: #5A3D6C;
}

/* Carousel - Index */
.carousel > h2 {
    font-size: 60px;
}

.carousel-container {
    height: 50px;
    padding-top: 10px;
    border-radius: 15px; 
    max-width: 45%;
    background-color: rgba(0, 0, 0, 0.50 );
}

/* Fake Partners */
.partners {
    background-color: rgba(0, 0, 0, 0.50 );
    max-width: 50%;
}

.partners img {
    height: 150px;
}

/* Get Tickets Button - Index */
.get-ticket-btn {
    background-color: rgba(0, 0, 0, 0.50 );
    text-decoration: none;
    width: 600px;
    height: 100px;
    padding-top: 10px;
    font-size: 50px;
}

/* Footer */
.footer {
    background-color: transparent;
    z-index: 10;
}

/* Tickets stuff */

.tickets {
    background-color: rgba(0, 0, 0, 0.50 );
    height: 50px;
    padding-top: 10px;
}

.tickets a {
    transition: 1.5s;
}
.tickets a:hover {
    transform: scale(1.5);
}

/* Passes Cards - tickets */
.card-body-main {
    min-height: 350px;
}

#lodgings .card-body-main {
    min-height: 150px;
}

/* Contact Form */
.contact-form {
    background-color: rgba(0, 0, 0, 0.50 );
    max-width: 30%;
}

input:user-valid,
select:user-valid,
textarea:user-valid {
	--state-color: green;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
	--state-color: red;
}
