* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font weight */
p {
  font-weight: 500;
}

/* Header part */
.header {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #0c0c0c;
}

.title {
  padding-top: 10px;
  width: 500px;
  height: 80%;
  display: block;
  margin: 0 auto;
  background-color: #0c0c0c;
  font-size: 15px;
  font-family: system-ui;
  color: #ffffff;
  text-align: center;
}

/* nav part */
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  width: 100%;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: system-ui;
  transition: transform 0.3s ease ;
}

.nav a:hover {
  transform: scale(.95);
  background: #ffffff;
  color: #0c0c0c;
  border-radius: 500px;
}


@media all and (max-width: 800) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}

/* secton */
.section {
  padding-top: 20px;
  color: #0c0c0c;
  background-color: #dcdcdc;
  width: 100%;
  height: 90vh;
}

.box {
  width: calc(100% - 10%);
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: system-ui;
  text-align: left;
  border-radius: 15px;
  background-color: #ffffff ;
}

/* make my image round since I'm too lazy to photoshop it */
.portfolio_image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Flexbox layout for the Projects section CSS*/
.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project-item {
  color: #0c0c0c;
  flex: 1;
  padding: 5px;
  text-align: center;
  transform: scale(.85);
}

.project-item:hover {
  background-color: #0c0c0c;
  color: #ffffff;
  transform: scale(.9);
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
  }
}

/* footer */
.footer {
  background-color: #0c0c0c;
  color: #ffffff;
  width: 100%;
  height: 5vh;
  font-family: system-ui;
  padding-top: 20px;
}